@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F7F8FA;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .glass {
    @apply bg-white bg-opacity-70 backdrop-blur-md border border-white border-opacity-50;
  }
}
